*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #020204;
  /* overflow: hidden; */
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: #22b455;
}

.card {
  background-color: #204829;
  border-radius: 70px;
  border-width: 1px;
  box-shadow: #92e5a1 0px 0px 50px 0px, inset #020204 0px 0px 70px 5px;
  color: #22b455;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #22b455;
  height: 2px;
}

.card-body {
  min-height: 100px
}

.card-footer {
  text-align: center;
}

#generate {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #22b455;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #020204;
  border-radius: 25px;
  color: #22b455;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #92e5a1;
}

.float-right {
  float: right;
}

#password {
  appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #22b455;
  border-radius: 6px;
  background-color: #020204;
  color: #22b455;
  resize: none;
  overflow: hidden;
}

#options {
  color: #22b455;
  font-size: 25px;
  font-weight: bold;
}

/* CUSTOM BUTTONS AND SLIDER SOURCED FROM W3 SCHOOLS*/

#box {
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

#box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

label {
  padding-left: 40px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  background-color: #020204;
  box-shadow: inset #204829 0px 0px 15px;
}

/* When the checkbox is checked, add a background */
#box input:checked~.checkmark {
  background-color: #22b455;
}

.slider {
  appearance: none;
  width: 30%;
  height: 15px;
  border-radius: 5px;  
  background: #92e5a1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #22b455;
  box-shadow: inset #204829 0px 0px 15px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #22b455;
  cursor: pointer;
}


/* MATRIX RAIN EFFECT */
canvas {
  position:absolute;
  bottom:0;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}